@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 90%);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#sidebar {
    background-color: hsl(217, 70%, 70%);
    height: 100%;
    width: 300px;
    min-width: 300px;
    display: grid;
    grid-template-rows: 100px 200px 150px;
    row-gap: 50px;
}

.right-container {
    height: 100%;
    width: calc(100% - 250px);
    display: grid;
}

#header {
    width: 100%;
    background-color: rgba(245,245,245);
    height: 100px;
    box-shadow: 0px 4px 6px rgba(45,45,45,0.1);
}

.dashboard-container {
    padding: 45px;
    height: calc(100vh - 150px);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 2fr) repeat(1, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

.dashboard-box {
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(45,45,45,0.1);
}

.dashboard-box.big {
    display: grid;
    grid-template-rows: 70px 100px 20px;
    grid-template-columns: auto;
}

.dashboard-box.green {
    border-left: solid 10px hsl(122, 45%, 75%);
}

.dashboard-box.yellow {
    border-left: solid 10px hsl(45, 75%, 72%);
}

.dashboard-box.red {
    border-left: solid 10px hsl(3, 85%, 72%);
}

#right-column {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-area: 1 / 3 / 4 / 4;
    row-gap: 25px;
}

.header-grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
}

.search-container {
    padding:  25px 40px;
}

form.search {
    background-color: hsl(0, 0%, 92%);
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    width: 70%;
    min-width: 280px;
    color: hsl(0,0%, 25%);
    border-right: 1px solid hsl(0, 0%, 88%);
    border-bottom: 1px solid hsl(0, 0%, 94%);
    border-top: 2px solid hsl(0, 0%, 88%);
    border-left: 1px solid hsl(0, 0%, 88%);
    display: flex;
    align-items: center;
}

#searchbar {
    border: none;
    background: transparent;
    margin: 0;
    color: hsl(0,0%, 30%);
    font-size: 14px;
    border-radius: inherit;
    width: 96%;
    padding: 5px 0px;
    padding-left: 5px;
}

#searchbar:focus {
    outline: none;
}

.search-btn {
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.search-icon {
    width: 24px;
    opacity: 0.6;
}

.header-icons {
    border-right: 1px solid hsla(0,0%, 85%, 50%);
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.icon-container {
    height: 100px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
}

.icon-container:hover {
    cursor:pointer;
}

.icon {
    width: 24px;
    margin: 0px 10px;
    opacity: 0.4;
}

.icon-container.selected {
    background: hsla(0,0%, 85%, 50%);
    border-bottom: 3px solid hsl(217, 70%, 70%);
    box-sizing: initial;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.user-icon {
    min-width: 50px;
    min-height: 50px;
    background-image: url(images/cat.png);
    background-color:hsl(217, 70%, 70%);
    background-size: 35px 35px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.user-name {
    padding: 10px 20px;
    font-size: 14px;
    color: hsl(0,0%, 35%);
    min-width: 70%;
    text-align: center;
}

.name {
    font-weight: 700;
}

.user-options {
    width: 24px;
    height: 24px;
    background-image: url(images/chevron-down.png);
    opacity: 0.5;
}

.sidebar-header {
    font-size: 28px;
    color:hsl(0, 0%, 95%);
    font-weight: 400;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    gap: 0 15px;
}

.link-container {
    width: 100%;
    color: hsl(0, 0%, 95%);
    font-size: 22px;
}

.sidebar-link {
    padding: 8px 0;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 40px 2fr;
    align-items: center;
}

.sidebar-link:hover {
    cursor: pointer;
    background-color: hsl(217, 48%, 60%)
}

.sidebar-link img {
    width: 28px;
    margin-right: 15px;
}

.box-title {
    font-size: 22px;
    margin: 15px 0;
}

.box-desc {
    color: hsl(0,0%, 50%);
}

.box-actions {
    text-align: right;
}

.box-actions img {
    margin: 0 10px;
    opacity: 0.5;
}

.box-actions img:hover {
    cursor: pointer;
}

.sm-box-title {
    font-size: 22px;

}

.sm-box-header {
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

.sm-box-message {
    font-size: 14px;
    color:hsl(0,0%, 50%);
    padding-bottom: 15px;
    border-bottom: 2px solid hsl(0,0%, 85%);
    border-radius: 5px;
}

.sm-box-update {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 25px 25px;
    column-gap: 15px;
    align-items: center;
}

.update-avatar {
    grid-area: 1 / 1 / 3 / 2;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: 35px 35px;
    background-position: center;
    background-repeat: no-repeat;
}

.update-avatar.elephant {
    background-image: url(images/elephant.png);
    background-color: hsl(35, 75%, 65%);
}

.update-avatar.shark {
    background-image: url(images/shark.png);
    background-color: hsl(293, 32%, 65%);
}

.update-avatar.kiwi {
    background-image: url(images/kiwi.png);
    background-color: hsl(183, 39%, 65%);
}

.update-avatar.flamingo {
    background-image: url(images/flamingo.png);
    background-color: hsl(228, 46%, 65%);
}

.update-name {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: -5px;
}

.update-desc {
    font-size: 14px;
    color:hsl(0, 0%, 50%);
    margin-top: -8px;
}